@model IEnumerable<FPFI.Models.MealIngredient>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ingredient.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meal.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredient.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Meal.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MealsIngredientsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MealsIngredientsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MealsIngredientsID })
        </td>
    </tr>
}

</table>
