@model FPFI.Models.Meal

@{
    ViewBag.Title = "Delete";
}
<div class="container col-3 bg-white ">
    <h2>Usuń posiłek:</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Użytkownik
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Account.Login)
            </dd>

            <dt>
                Nazwa
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                Narodowość
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nationality)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nutriscore)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nutriscore)
            </dd>

            <dt>
                Trudność
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Difficulty)
            </dd>

            <dt>
                Czas
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TimeConsumption)
            </dd>

            <dt>
                Rodzaj
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">

                <input type="submit" value="Zatwierdź" class="btn btn-primary m-2" /> |

                <button type="button" class="btn btn-primary m-2" onclick="location.href='@Url.Action("Index")'">Powrót do listy</button>

            </div>
        }
    </div>
    </div>