@model IEnumerable<FPFI.Models.Meal>

@{
    ViewBag.Title = "Index";
}
<br/>
<h1>Lista posiłków</h1>
<br/>
<p>
    @Html.ActionLink("Dodaj posiłek +", "Create")
</p>
<table class="table">
    <tr>
@*        <th>
            @Html.DisplayNameFor(model => model.Account.Login)
        </th>*@
        <th>
            Nazwa
        </th>
        <th>
            Pochodzenie
        </th>
        <th>
            Nutriscore
        </th>
        <th>
            Trudność
        </th>
        <th>
            Czas
        </th>
        <th>
            Kategoria
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
@*        <td>
            @Html.DisplayFor(modelItem => item.Account.Login)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nutriscore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Difficulty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeConsumption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.MealID }) |
            @Html.ActionLink("Składniki", "Details", new { id=item.MealID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.MealID })
        </td>
    </tr>
}

</table>
