@model IEnumerable<FPFI.Models.MealPlan>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Meals.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Meals.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MealPlansID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MealPlansID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MealPlansID })
        </td>
    </tr>
}

</table>
