@model FPFI.Models.Ingredient

@{
    ViewBag.Title = "Delete";
}
<div class="container col-3 bg-white ">
    <br />
    <h2>Usuń składnik</h2>
    <br />
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Jednostka
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Unit.Name)
            </dd>

            <dt>
                Nazwa
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                Rodzaj
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nutriscore)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nutriscore)
            </dd>

            <dt>
                Zdatność
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Endurance)
            </dd>

            <dt>
                Alergeny
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Allergen)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Zatwierdź" class="btn btn-primary m-2" /> |
                <button type="button" class="btn btn-primary m-2" onclick="location.href='@Url.Action("Index")'">Powrót do listy</button>
            </div>
        }
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    </html>
