@model FPFI.Models.MealPlan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MealPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MealID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MealID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeakDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeakDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MealPlansID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
